---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getEntry } from "astro:content";
// import { i18n } from "../i18n/translation";
// import I18nKey from "../i18n/i18nKey";
// import Markdown from "@components/misc/Markdown.astro";
---

<BaseLayout title={"111"}>
  <div
    class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
  >
    <div class="card-base z-10 px-9 py-6 relative w-full">
      <!-- <Markdown class="mt-2" /> -->
    </div>
  </div>
  <script
    src="https://giscus.app/client.js"
    data-repo="RonHaiT/rh-giscus"
    data-repo-id="R_kgDOOdHWlg"
    data-category="Announcements"
    data-category-id="DIC_kwDOOdHWls4CpT6A"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light_tritanopia"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</BaseLayout>
