---

---

<div class="join">
  <button class="join-item btn">1</button>
  <button class="join-item btn bg-amber-500">2</button>
  <button class="join-item btn">3</button>
  <button class="join-item btn">4</button>
</div>
